@import "tailwindcss";

@theme {
  --color-primary-green: #22c55e;
  --color-primary-orange: #f97316;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.quiz-modal {
  transition: opacity 0.3s ease-in-out;
}

.quiz-modal.hidden {
  display: none;
  opacity: 0;
}

.quiz-modal.flex {
  display: flex;
  opacity: 1;
}
